<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=HEART\SQLEXPRESS;Initial Catalog=SupermarketManagementSystem;integrated security=SSPI;"
      providerName="System.Data.SqlClient" />
    <add name="ConStringEncrypt" connectionString="false" />
    <add name="SMM.Properties.Settings.SupermarketManagementSystemConnectionString"
      connectionString="Data Source=HEART\SQLEXPRESS;Initial Catalog=SupermarketManagementSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>